html,body {
    overscroll-behavior: none;
    min-height: 100%;
}

html {
    background: linear-gradient(#ffffff, red);
    font-family: Helvetica, sans-serif;
    font-size: 2.5vw;
    line-height: 120%;
}

body {
    margin: 0;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 14vw; */
    flex-direction: column;
    max-width: 72vw;
    margin-left: auto;
    margin-right: auto;
}

.overflow {
    height: 18vw;
    overflow-y: auto;
    overscroll-behavior: contain;
}

/* uncomment below to activate horizontal scroll */
/* html,body {
    display: flex;
}

html {
    overflow-y: hidden;
}

section {
    width: 100vw;
    box-sizing: border-box;
} */