// ==========================================================================
// Main
// ==========================================================================

// Settings
// ==========================================================================
@import "settings/config.colors";
@import "settings/config";

// ==========================================================================
// Tools
// ==========================================================================
@import "tools/functions";
@import "tools/mixins";
@import "tools/fonts";
@import "tools/layout";
@import "tools/widths";
// @import "tools/family";

// Generic
// ==========================================================================
@import "node_modules/normalize.css/normalize";
@import "generic/generic";
@import "generic/media";
@import "generic/form";
@import "generic/button";

// Elements
// ==========================================================================
@import "elements/fonts";
@import "elements/page";
@import "elements/headings";

// Objects
// ==========================================================================
@import "objects/container";
@import "objects/ratio";
@import "objects/layout";
@import "objects/form";
@import "objects/button";
@import "objects/scroll";
@import "objects/title";
@import "objects/image";
// @import "objects/crop";
// @import "objects/table";

// Vendors
// ==========================================================================
@import "../src/lenis";

// Components
// ==========================================================================
@import "components/header";
@import "components/fixed";
@import "components/intro";
@import "components/features";
@import "components/summary";
@import "components/section";
@import "components/speed-block";
@import "components/direction-block";
@import "components/lerp-block";
@import "components/cta";
@import "components/choochoo";
@import "components/damn";
@import "components/helicopter";

// Templates
// ==========================================================================
// @import "templates/template";

// Utilities
// ==========================================================================
// @import "utilities/ratio";
@import "utilities/widths";
@import "utilities/align";
@import "utilities/helpers";
// @import "utilities/states";
// @import "utilities/headings";
// @import "utilities/spacing";
// @import "utilities/print";
