@font-face {
  font-family: 'Slussen';
  src: url('/fonts/Slussen-Compressed-Black.woff2') format('woff2');
  font-display: swap;
  font-weight: 900;
  font-stretch: compressed;
}

@font-face {
  font-family: 'Slussen';
  src: url('/fonts/Slussen-Expanded-Black.woff2') format('woff2');
  font-display: swap;
  font-weight: 900;
  font-stretch: expanded;
}

@font-face {
  font-family: 'Slussen';
  src: url('/fonts/Slussen-Medium.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Slussen';
  src: url('/fonts/Slussen-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Slussen';
  src: url('/fonts/Slussen-Semibold.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Slussen';
  src: url('/fonts/Slussen-Bold.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Respira';
  src: url('/fonts/Respira-Black.woff2') format('woff2');
  font-display: swap;
  font-weight: 900;
}

:root {
  --font-primary: 'Slussen';
}
