@import 'styles/_functions';

.features {
  height: 800vh;

  @include desktop {
    min-height: desktop-vw(1310px);
  }

  .card {
    position: absolute;
    transition-duration: 600ms;
    transition-property: opacity, transform;
    transition-timing-function: var(--ease-out-expo);

    @include mobile {
      @for $i from 0 through 9 {
        &:nth-child(#{$i + 1}) {
          top: calc(
            ((90vh - #{mobile-vw(440px)} - (2 * var(--layout-margin))) / 8) * $i
          );
        }
      }
    }

    @include desktop {
      @for $i from 0 through 9 {
        &:nth-child(#{$i + 1}) {
          top: calc(
            ((100vh - #{desktop-vw(440px)} - (2 * var(--layout-margin))) / 8) *
              $i
          );
          left: calc(
            ((100vw - #{desktop-vw(440px)} - (2 * var(--layout-margin))) / 8) *
              $i
          );
        }
      }
    }

    &:not(.reset) {
      transform: translate3d(50%, 50%, 0);
      opacity: 0;
    }
  }

  .title {
    text-align: end;
    padding-bottom: var(--layout-margin);

    @include desktop {
      padding: 0;
      position: absolute;
      right: var(--layout-margin);
    }
  }
}

.sticky {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  padding: var(--layout-margin);

  @include desktop {
  }

  > * {
    position: relative;
  }
}
