@import 'styles/_functions';

.list {
  padding: mobile-vw(100px) 0;

  @include desktop {
    padding: desktop-vw(100px) 0;
  }
}

.buttons {
  padding: mobile-vw(100px) 0;

  @include desktop {
    padding: desktop-vw(100px) 0;
  }
}

.cards {
  padding: mobile-vw(100px) 0;

  @include desktop {
    padding: desktop-vw(100px) 0;
  }

  &-group {
    @include desktop {
      display: flex;
      justify-content: space-around;
    }
  }
}
