.c-choochoo_item {
    padding: 50vh 0;
    font-size: rem(100px);

    span {
        display: block;
    }

    &.-reverse {
        span {
            transform: rotateY(180deg);
        }
    }

    html[data-direction="up"] & {
        span {
            transform: rotateY(180deg);
        }
        &.-reverse {
            span {
                transform: rotateY(0deg);
            }
        }
    }

    @media (max-width: $to-large) {
        display: none;
    }
}
