---
import '../core/style.css'
import Layout from '../layouts/Layout.astro'
---
<Layout title="Lenis">
	<button id="scroll-100">Scroll 100</button>
	<div id="app"></div>
	<script src="../core/index.ts"></script>
</Layout>
