@import 'styles/_functions';

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid;
  aspect-ratio: 1 / 1;
  padding: mobile-vw(24px);

  @include desktop {
    padding: desktop-vw(24px);
  }

  .number {
    color: var(--theme-contrast);
    font-stretch: condensed;
    font-weight: 900;
    line-height: 86%;
    letter-spacing: -0.02em;
    font-size: mobile-vw(56px);

    @include desktop {
      font-size: desktop-vw(56px);
    }
  }

  .text {
    text-transform: uppercase;
    font-stretch: expanded;
    line-height: 100%;
    letter-spacing: -0.01em;
    font-size: mobile-vw(20px);

    @include desktop {
      font-size: desktop-vw(20px);
    }
  }
}
