---
import '../core/style.css'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lenis</title>
	</head>
	<body>
		<button id="scroll-100">Scroll 100</button>
    <div id="app"></div>
		<script src="../core/index.ts"></script>
	</body>
</html>
