@import 'styles/_functions';

.accordion {
  overflow: hidden;
  &:first-child {
    border-top: 1px solid var(--black);
  }

  border-bottom: 1px solid var(--black);
  padding: mobile-vw(10px) 0;

  @include desktop {
    padding: desktop-vw(10px) 0;
  }

  &__content {
    // height: 0;

    > :first-child {
      padding-top: mobile-vw(10px);

      @include desktop {
        padding-top: desktop-vw(10px);
      }
    }

    @keyframes open {
      from {
        height: 0;
      }
      to {
        height: var(--radix-collapsible-content-height);
      }
    }

    @keyframes close {
      from {
        height: var(--radix-collapsible-content-height);
      }
      to {
        height: 0;
      }
    }

    &:global([data-state='open']) {
      animation: open 600ms var(--ease-out-expo);
    }

    &:global([data-state='closed']) {
      animation: close 600ms var(--ease-out-expo);
    }
  }
}

.home {
  // height: 300vh;

  .marquee {
    font-size: 6vw;

    .item {
      margin-right: mobile-vw(24px);

      @include desktop {
        margin-right: desktop-vw(24px);
      }
    }
  }

  .kinesis {
    > * {
      width: 250px;
      height: 250px;
      background-color: red;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .slider {
    overflow: hidden;
    margin-bottom: 250px;
  }

  .slider-header {
    padding-top: desktop-vw(50px);
    text-transform: uppercase;
    font-size: 34px;

    p:first-child {
      font-size: 14px;
    }
  }

  .slide-buttons {
    text-transform: uppercase;
    font-weight: 700;
    padding-right: desktop-vw(10px);
    user-select: none;
    cursor: pointer;
  }

  .slide {
    min-width: 33vw;
    display: flex;
    flex-direction: column;

    .slide-inner {
      position: relative;
      overflow: hidden;
      height: desktop-vw(600px);
      cursor: none;

      .slide-title {
        font-size: desktop-vw(25px);
        font-weight: 900;
        text-transform: uppercase;
        padding-bottom: desktop-vw(25px);
      }

      .slide-text {
        font-size: desktop-vw(16px);
        font-weight: 400;
        padding-bottom: desktop-vw(25px);
      }

      .slide-img {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 50%;
        min-width: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;

        > div {
          height: 100%;
        }
      }
    }
  }
}
