html.lenis,
html.lenis body {
  height: auto;
}

.lenis [data-lenis-prevent],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent-touch],
.lenis [data-lenis-prevent-vertical],
.lenis [data-lenis-prevent-horizontal] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis, html.lenis>body {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

/* applied to the root element when the `drag` option is enabled */
.lenis-draggable {
  cursor: grab;
}

/* applied while a mouse drag is scrolling (drag option) */
.lenis-dragging {
  cursor: grabbing;
}

.lenis-dragging,
.lenis-dragging * {
  -webkit-user-select: none;
  user-select: none;
}
