@import 'styles/_functions';

.wrapper {
  .inner {
    overflow: hidden;

    .overflow {
      display: inline-flex;
    }

    @include desktop {
      position: sticky;
      // --height: min(
      //   #{desktop-vw(632px)},
      //   calc(100vh - var(--header-height) - #{desktop-vw(80px)})
      // );
      // padding: desktop-vw(500px) 0;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      align-self: start;
      // top: calc((100vh + var(--header-height) - var(--height)) / 2);
    }
  }
}
