@import 'styles/_functions';

.wrapper {
  .inner {
    overflow: hidden;

    .overflow {
      display: inline-flex;
    }

    @include desktop {
      position: sticky;
      --height: min(
        #{desktop-vw(632px)},
        calc(100vh - var(--header-height) - #{desktop-vw(80px)})
      );
      top: calc((100vh + var(--header-height) - var(--height)) / 2);
    }

    @include mobile {
      .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        > * {
          margin-bottom: mobile-vw(32px);
        }
      }
    }
  }
}
