// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #FFFFFF;
$black: #272727;

// Specific
// =============================================================================
// Link
$link-color:       $black;
$link-focus-color: $black;
$link-hover-color: $white;
// Selection
$selection-text-color:       $white;
$selection-background-color: $black;

// Social Colors
// =============================================================================
$facebook-color:  #3B5998;
$instagram-color: #E1306C;
$youtube-color:   #CD201F;
$twitter-color:   #1DA1F2;

// Customs
$beige: #D4C9C9;
