html {
  // scroll-behavior: smooth;

  &.has-scroll-init {
    &.has-scroll-smooth {
      [data-scroll-wrapper] {
        inset: 0px;
        width: 100%;
        height: 100%;
        position: fixed;
        overflow: hidden;
      }
    }
  }
}
