html {
  &.has-scroll-init {
    &.has-scroll-smooth {
      [data-scroll-wrapper] {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        overflow: hidden;
        overflow: clip;
      }
    }
  }
}
