@import 'styles/_functions';

.footer {
  color: var(--theme-primary);
  background-color: var(--theme-secondary);
  padding: mobile-vw(20px) 0;

  @include desktop {
    padding: desktop-vw(40px) 0;
  }
}
