@import 'styles/_functions';

.footer {
  background-color: var(--theme-primary);
  color: var(--theme-secondary);
  padding: mobile-vw(20px) 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include desktop {
    padding: desktop-vw(40px) 0;
  }

  .top {
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: mobile-vw(20px);

    @include desktop {
      padding-bottom: desktop-vw(40px);
    }

    .first-line {
      grid-column: 1 / span 7;
    }

    .shameless-plug {
      grid-column: 9 / span 4;
      display: flex;
      flex-direction: column;
      text-align: end;

      p:first-child {
        margin-bottom: mobile-vw(8px);

        @include desktop {
          margin-bottom: desktop-vw(8px);
        }
      }
    }

    .cta {
      position: absolute;
      left: 0;
      bottom: mobile-vw(20px);

      @include desktop {
        bottom: desktop-vw(40px);
      }
    }

    .last-line {
      text-align: end;
      grid-column: 2 / -1;
      align-self: end;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--layout-width);
    margin: 0 auto;

    .links {
      .link:not(:first-child) {
        margin-left: mobile-vw(20px);

        @include desktop {
          margin-left: desktop-vw(32px);
        }
      }
    }

    .tm {
      span {
        vertical-align: text-top;
      }
    }
  }
}
