---
import '~/horizontal/style.css'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Lenis">
  <div id="wrapper">
    <div id="about">
      <h2>about</h2>
    </div>
    <div id="work">
      <div id="work-content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore unde
        hic atque qui nobis tempore quaerat illum laborum, reiciendis maxime
        natus vero dignissimos. Magnam accusantium sint nulla velit neque magni?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore unde
        hic atque qui nobis tempore quaerat illum laborum, reiciendis maxime
        natus vero dignissimos. Magnam accusantium sint nulla velit neque magni?
      </div>
    </div>

    <div id="work2">
      <div id="work2-content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore unde
        hic atque qui nobis tempore quaerat illum laborum, reiciendis maxime
        natus vero dignissimos. Magnam accusantium sint nulla velit neque magni?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore unde
        hic atque qui nobis tempore quaerat illum laborum, reiciendis maxime
        natus vero dignissimos. Magnam accusantium sint nulla velit neque magni?
      </div>
    </div>

    <div id="contact">
      <h2>contact</h2>
    </div>
  </div>
  <script src="../../horizontal/test.ts"></script>
  <!-- THESE ARE HERE TO TEST THE BROWSER VERSION BUNDLE -->
  <!-- <script is:raw src="../../node_modules/lenis/dist/lenis.min.js"></script> -->
  <!-- <script is:raw src="../../core/browser.js"></script> -->
  <!-- <script>
		import { LoremIpsum } from 'lorem-ipsum'
		document.querySelector('#app').innerHTML = new LoremIpsum().generateParagraphs(30)
	</script> -->
</Layout>
