---
import '~/snap/style.css'
import Layout from '../layouts/Layout.astro'
---
<Layout title="Lenis Snap">
	<div id="wrapper">
		<div id="content">
			<section class="section section-1">
				<div class="inner"></div>
			</section>
			<section class="section section-2">
				<div class="inner"></div>
			</section>
			<section class="section section-3">
				<div class="inner"></div>
			</section>
			<section class="section section-4">
				<div class="inner"></div>
			</section>
		</div>
	</div>
	<script src="../../snap/test.ts"></script>
</Layout>
